[submodule "dircolors/solarized"]
    path = dircolors/solarized
    url = git@github.com:seebi/dircolors-solarized.git
    branch = master
[submodule "gnome-themes/one"]
    path = gnome-themes/one
    url = git@github.com:denysdovhan/one-gnome-terminal.git
    branch = master
[submodule "tmux"]
	path = tmux
	url = https://github.com/gpakosz/.tmux.git
	branch = master
